{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    },
    "es": {
      "presets": ["es2015-native-modules"]
    }
  }
}
