{
  "extends": "eslint-config-airbnb",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "space-after-keywords": [2, "always"],
    "brace-style": [2, "stroustrup"],
    "func-names": 0
  }
}
