html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

.page {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #eee;
  border-radius: 3px;
}

section details {
  margin-top: 20px;
}
